/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*-----------------------------------------------*/

html,
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	min-width: 1600px;
	font-size: 16px;
	color: #333b41;
	background: linear-gradient(
			315.75deg,
			rgba(254, 210, 144, 0.7) 30.06%,
			#febdab 100.95%,
			rgba(254, 210, 144, 0.7) 106.36%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		),
		linear-gradient(
			315.75deg,
			rgba(254, 189, 171, 0.74) 30.06%,
			rgba(243, 169, 248, 0.66) 50.74%,
			#e0d8f0 80.49%,
			#eaf7fe 127.9%,
			#eaf7fe 149.54%
		);
}
.container {
	width: 1160px;
	margin: 0 auto;
}

/*-----------HEADER-------------------*/
.header {
	margin-bottom: -80px;
	background-color: #000;
	color: #fff;
	width: 100%;
	max-height: 80px;
	position: relative;
	z-index: 50;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.logo {
	max-width: 82px;
	min-height: 52px;
	border: 1px solid #ffffff;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
.logo__text {
	font-size: 19.0145px;
	line-height: 120%;
	color: #fff;
}
.logo__icon {
	position: absolute;
	top: 42%;
	left: 5%;
}
.logo__icon img {
	width: 7.03px;
	height: 20.98px;
}
.menu {
	margin-left: -32.5%;
}
.menu__items {
	display: flex;
	align-items: center;
}

.menu__item {
	font-weight: 500;
	line-height: 140%;
	color: #ffffff;
}
.menu__item:not(:last-child) {
	margin-right: 58px;
}
.menu__link {
}
.menu__link_orange {
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.design {
}
.design__link {
}

/*---------WATCH ONLINE------------*/

.main {
}
.watch-online__bg-img {
	background: url(/assets/images/Watch\ online_Giant\ Panda.jpg) 0 0 no-repeat;
	background-size: 100%;
	min-height: 780px;
}
.watch-online {
	padding: 92px 108px 100px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.watch-online__circle {
	width: 465px;
	height: 465px;
	margin-bottom: 70px;

	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 50%;
	padding: 74px 0 0 73px;
	position: relative;
}
.watch-online__title {
	font-weight: 700;
	font-size: 106.496px;
	line-height: 75%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	position: absolute;
	top: 16%;
	left: 18%;
}
.watch-online___title_orange {
	color: #ffee2e;
}
.watch-online__btn {
	margin-right: -1%;
	width: 298px;
	padding: 16px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 25px;

	font-weight: 500;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
}
/*---------HOW IT WORKS------------*/
.how-it-works {
	background-color: #fff;
}

.how-it-works__bg-img {
	background: url(/assets/images/bg-img_flower.png) 100% 9% no-repeat;
}
.how-it-works__container {
	padding: 140px 0 177px 0;
	display: flex;
	justify-content: space-between;
}
.how-it-works__right {
	max-width: 465px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}
.how-it-works__title {
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 120%;
}
.how-it-works__text {
	margin-bottom: 54px;
	line-height: 130%;
}
.how-it-works__subtitle {
	margin-bottom: 34px;
	font-size: 24px;
	line-height: 120%;
}
.how-it-works__subtext {
	line-height: 140%;
}

/*--------ANIMAL CARDS ----------*/
.animal-cards {
	background-color: #fff;
	position: relative;
	padding: 0 0 100px 0;
}
.animal__cards__bg-img-left,
.animal__cards__bg-img-right {
	position: absolute;
}
.animal__cards__bg-img-left {
	top: 58.4%;
	left: 0;
}
.animal__cards__bg-img-right {
	top: 75%;
	right: 0;
}

.animal-cards__arrow-left,
.animal-cards__arrow-right {
	width: 62px;
	height: 62px;
	background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.animal-cards__arrow-left {
	top: 36.4%;
	left: 8.6%;
}
.animal-cards__arrow-right {
	top: 36.4%;
	left: 87.4%;
}
.animal-cards__items {
	margin-bottom: 79px;
	display: grid;
	grid-template-columns: repeat(3, 33.333%);
	column-gap: 9px;
	row-gap: 20px;
}

.animal-cards__item {
	width: 367px;
	border: 1px solid #fe9013;
	border-radius: 5px;
}

.animal-card__img {
	border-radius: 5px 5px 0 0;
	width: 100%;
}
.animal-card__bottom {
	padding: 6px 12px 13px 15px;
	display: flex;
	justify-content: space-between;
}
.animal-card__bottom_wrap {
	display: flex;
	flex-direction: column;
}
.animal-card__title {
	font-weight: 500;
	line-height: 140%;
	text-transform: uppercase;
	color: #000000;
}
.animal-card__text {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
}
.animal-card_icon {
}

.animal-cards__item-choose-favorite {
	max-width: 298px;
	margin: 0 auto;
	padding: 16px 0;
	background: #fe9013;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.animal-cards__link-choose-favorite {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

/*----------BLOCK PICK AND FEED----------------*/

.pick-and-feed {
}
.pick-and-feed__container {
	padding: 69px 0 100px 0;
}

.pick-and-feed__wrap {
	max-width: 1160px;
	margin: 0 auto;
	padding: 41px 50px 60px 99px;
	border-radius: 20px;
	background: rgba(253, 253, 255, 0.52);
}
.pick-and-feed__top {
	display: flex;
	flex-direction: column;
}
.pick-and-feed__title {
	margin: 0 0 30px 0;
	padding: 0 0 0 251px;
	font-size: 48px;
	line-height: 120%;
	color: #fe9013;
}
.pick-and-feed__text_big {
	margin: 0px 0px 40px 0px;
	font-size: 24px;
	line-height: 120%;
}
.pick-and-feed__text_bold {
	margin: 0px 0px 10px 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
}
.pick-and-feed__text {
	line-height: 130%;
	margin: 0px 0px 61px 0px;
}
.pick-and-feed__text_underline {
	padding-bottom: 3px;
	border-bottom: 1px solid #fe9013;
}
/*----------PICK AND FEED BOTTOM-----------*/
.pick-and-feed__bottom {
}
.pick-and-feed__subtitle {
	margin: 0px 0px 40px -51px;
	font-size: 36px;
	line-height: 130%;
	text-align: center;
}
.pick-and-feed__card-wrap {
	margin: 0px 0px 60px 0px;
	padding: 0 99px;
	display: flex;
	gap: 65px;
	position: relative;
}

.pick-and-feed__vector_icon-one {
	position: absolute;
	top: 24.7%;
	left: 29.3%;
}

.pick-and-feed__vector_icon-two {
	position: absolute;
	top: 23.2%;
	left: 59%;
}

.pick-and-feed__item_top {
	margin: 0px 0px 30px 0px;
	padding: 54px 30px;
	width: 168px;
	height: 168px;
	background-color: #fff;
	border: 1px solid #fd8d1c;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pick-and-feed__item-icon {
}
.pick-and-feed__item-text {
	line-height: 140%;
}

.pick-and-feed__vector {
}
.pick-and-feed__vector_icon {
	width: 69px;
	height: 35.08px;
}

.pick-and-feed__btn {
	max-width: 298px;
	margin: 0 332px;
	padding: 16px 0;
	background: #fe9013;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pick-and-feed__btn-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

/*-----------TESTIMONIALS----------*/

.testimonials {
	position: relative;
	background-color: #fff;
}
.testimonials__bg-img {
	background: url("/assets/images/leav_foto.png") 100% 126% no-repeat;
	position: relative;
}
.testimonials__container {
	padding: 140px 0 180px 0;
}
.testimonials__wrap {
}
.testimonials__title {
	margin: 0px 0px 47px 0px;
	font-size: 36px;
	line-height: 130%;
	text-align: center;
}
.testimonials__items {
	display: flex;
	gap: 30px;
	margin: 0px 0px 22px 0px;
}
.testimonials__item {
	max-width: 268px;
	max-height: 391px;
	padding: 15px 12px 16px 17px;
	background: #f1f3f2;
	border-radius: 20px;
}
.testimonials__item-top {
	margin: 0px 0px 10px 0px;
}
.testimonials__item-top_icon {
	float: left;
	margin: 0 10px 11px 0;
}
.testimonials__user {
	display: flex;
	gap: 5px;
}
.testimonials__name {
	line-height: 120%;
	color: #000000;
}
.testimonials__local,
.testimonials__day {
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
}

.testimonials__dot {
	color: #bdbdbd;
}
.testimonials__item-bottom {
	clear: both;
	max-height: 309px;
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: #767474;
	overflow: hidden;
}

.testimonials__slider {
	max-width: 599px;
	margin: 0 auto 34px auto;
	max-height: 8px;
	background-color: #f5f7f6;
	border: 0.5px solid rgba(243, 169, 248, 0.66) 50.74%;
	border-radius: 5px;
}
.testimonials__slider_orange {
	max-width: 115.19px;
	min-height: 6px;
	background: #fe9013;
	border-radius: 5px;
}

.testimonials__btn {
	max-width: 298px;
	padding: 16px 0;
	background: #fe9013;
	display: flex;
	justify-content: center;
	align-items: center;
}
.testimonials__btn-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
